<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rajeshksv.messaging</string>
	<key>connections</key>
	<dict>
		<key>52F1662B-2E09-431B-8A5D-3F60ADB6895F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>720C5BBD-07C7-459F-AB8A-BD29A56BEF20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>672D90B4-48D5-477F-A00C-BC9F53225048</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BE705CC-7BB8-4139-9C18-6DFEDB9E6EA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7BB79FC7-B295-4734-9A16-9DDA10C135AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52F1662B-2E09-431B-8A5D-3F60ADB6895F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>944B4117-7F56-4B6B-A6AB-22E70B2C616E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FC8E8F7-1C19-4790-B1DE-F33EBA424098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ADCD7CE1-9E89-42C1-97E1-CDC8DBBAB2DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>672D90B4-48D5-477F-A00C-BC9F53225048</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B77AB638-48EE-44B5-B639-DB1E992B3BAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA0B92F3-7F12-4B02-A89D-B1D727FD3E59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BCCB236D-4F08-4C07-B275-9208342971AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6D7CBE3-E883-429B-98E4-21CF84C89121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E21C6BB2-3925-4F3D-A8FD-AA373B50C865</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE1447E8-5DAA-4B21-AAEB-71243564494D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>944B4117-7F56-4B6B-A6AB-22E70B2C616E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy contact information to clipboard</string>
			</dict>
		</array>
		<key>EE1447E8-5DAA-4B21-AAEB-71243564494D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAB04A88-09FF-4871-8A4E-4B80E83319B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F6D7CBE3-E883-429B-98E4-21CF84C89121</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D436B71D-F78A-44B0-B2BD-517FC6E02D2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FA0B92F3-7F12-4B02-A89D-B1D727FD3E59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>900E599D-F299-4961-9BE7-94243DD8EC7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FD4410FC-4FD8-4EB2-9FE5-B621AE6E5621</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3608E4E8-5C45-4C05-B7D1-8ADD93B13404</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rajesh KSV</string>
	<key>description</key>
	<string>Send message to your friend easily now</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Message to Friend</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>in=$(echo "{query}" | tr -d "\\")

echo "$in" &gt; user.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE1447E8-5DAA-4B21-AAEB-71243564494D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "mesg: "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>BAB04A88-09FF-4871-8A4E-4B80E83319B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>msg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Updating indexes.. Please Wait (Will happen only on first run. Promise!)</string>
				<key>script</key>
				<string>python iMessage.py "{query}"</string>
				<key>subtext</key>
				<string>Type in a name/number/email from your Address Book/Previous Chats</string>
				<key>title</key>
				<string>iMessage</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E21C6BB2-3925-4F3D-A8FD-AA373B50C865</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>contact="{query}"
contactMetaDataArray=(${contact//_^_/ })
echo ${contactMetaDataArray[0]}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>944B4117-7F56-4B6B-A6AB-22E70B2C616E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6FC8E8F7-1C19-4790-B1DE-F33EBA424098</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>contactMetaData=$(cat user.txt)
contactMetaDataArray=(${contactMetaData//_^_/ })
contact=${contactMetaDataArray[0]}
message="{query}"

osascript sendMessage.applescript "$contactMetaData" "$message"

if [[ $? -eq 1 ]];then
  echo "$contact"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>672D90B4-48D5-477F-A00C-BC9F53225048</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Sending Failed. Try setting up country code using mcc</string>
				<key>title</key>
				<string>Message to {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2BE705CC-7BB8-4139-9C18-6DFEDB9E6EA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>mesg:</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>message="{query}"
# escaping invalid xml characters ' " &lt; &gt; &amp;
validmsg=$(echo "$message" | sed -e 's~&amp;~\&amp;amp;~g' -e 's~&lt;~\&amp;lt;~g'  -e  's~&gt;~\&amp;gt;~g' -e 's~"~\&amp;quot;~g' -e "s~'~\&amp;apos;~g")

contactMetaData=$(cat user.txt)
contactMetaDataArray=(${contactMetaData//_^_/ })
contact=${contactMetaDataArray[0]}

cat &lt;&lt; CODE
&lt;?xml version="1.0"?&gt;
&lt;items&gt;
&lt;item uid="iMessage Body" arg="$validmsg" valid="yes"&gt;
&lt;title&gt;"To $contact : $validmsg"&lt;/title&gt;
&lt;subtitle&gt;&lt;/subtitle&gt;
&lt;icon&gt;icon.png&lt;/icon&gt;
&lt;/item&gt;
&lt;/items&gt;
CODE</string>
				<key>title</key>
				<string>iMessage Body</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ADCD7CE1-9E89-42C1-97E1-CDC8DBBAB2DF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" &gt; countryCode

echo "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6D7CBE3-E883-429B-98E4-21CF84C89121</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mcc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>code="{query}"
if [[ ${#code} &gt; 0 ]];then
echo '&lt;?xml version="1.0"?&gt;
&lt;items&gt;
  &lt;item uid="{query}" arg="{query}"&gt;
    &lt;title&gt;Setting up Country code to {query} (Press enter to confirm)&lt;/title&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;'
elif [[ -f countryCode ]];then
	code=$(cat countryCode)
	echo '&lt;?xml version="1.0"?&gt;
&lt;items&gt;
  &lt;item uid="abc"&gt;
    &lt;title&gt;Country Code is '$code' Type new one if you wish to change&lt;/title&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;'
else
	code=$(cat countryCode)
	echo '&lt;?xml version="1.0"?&gt;
&lt;items&gt;
  &lt;item uid="abc"&gt;
    &lt;title&gt;Please set country code Ex: +91&lt;/title&gt;
    &lt;icon&gt;icon.png&lt;/icon&gt;
  &lt;/item&gt;
&lt;/items&gt;'
fi</string>
				<key>subtext</key>
				<string>Ex: +91 (For sms to work properly with msg, please enter your country code)</string>
				<key>title</key>
				<string>Enter your country code:</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BCCB236D-4F08-4C07-B275-9208342971AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Now you can try sending sms again</string>
				<key>title</key>
				<string>Country Code is set to {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D436B71D-F78A-44B0-B2BD-517FC6E02D2F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>msgbuild</string>
				<key>queuedelaycustom</key>
				<integer>10</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Building the database. This will take 1-2 mins...</string>
				<key>script</key>
				<string>osascript NamesEmailsPhones.scpt &gt; NamesEmailsPhones

cat &lt;&lt; CODE
&lt;?xml version="1.0"?&gt;
&lt;items&gt;
&lt;item uid="msgbuild" arg="$validmsg" valid="yes"&gt;
&lt;title&gt;Done. Database is updated.&lt;/title&gt;
&lt;subtitle&gt;&lt;/subtitle&gt;
&lt;icon&gt;icon.png&lt;/icon&gt;
&lt;/item&gt;
&lt;/items&gt;
CODE</string>
				<key>subtext</key>
				<string>Initialize/reload the database</string>
				<key>title</key>
				<string>Build Message To Friend Database</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD4410FC-4FD8-4EB2-9FE5-B621AE6E5621</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Message Contacts Database is built</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3608E4E8-5C45-4C05-B7D1-8ADD93B13404</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>..</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>bash replyToLastRecepient "{query}"</string>
				<key>title</key>
				<string>Reply to last conversation</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7BB79FC7-B295-4734-9A16-9DDA10C135AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>720C5BBD-07C7-459F-AB8A-BD29A56BEF20</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

msg=$(echo $query | awk -F '@@@@' '{print $1}')
recepient=$(echo $query | awk -F '@@@@' '{print $2}')

osascript sendMessage.applescript "$recepient" "$msg"

if [[ $? -eq 0 ]];then
  echo "Sent" "$msg" to "$recepient"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52F1662B-2E09-431B-8A5D-3F60ADB6895F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>...</string>
				<key>text</key>
				<string>Copy last received message into clipboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B77AB638-48EE-44B5-B639-DB1E992B3BAB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>into clipboard</string>
				<key>title</key>
				<string>Last message received is copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>900E599D-F299-4961-9BE7-94243DD8EC7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sqlite3 ~/Library/Messages/chat.db "select text from message where is_delivered = 1 order by ROWID desc limit 1;" | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA0B92F3-7F12-4B02-A89D-B1D727FD3E59</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Now Send message to your friend directly from alfred

Inspired from iM by Nolan Chan</string>
	<key>uidata</key>
	<dict>
		<key>2BE705CC-7BB8-4139-9C18-6DFEDB9E6EA6</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>3608E4E8-5C45-4C05-B7D1-8ADD93B13404</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>52F1662B-2E09-431B-8A5D-3F60ADB6895F</key>
		<dict>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>672D90B4-48D5-477F-A00C-BC9F53225048</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>6FC8E8F7-1C19-4790-B1DE-F33EBA424098</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>720C5BBD-07C7-459F-AB8A-BD29A56BEF20</key>
		<dict>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>7BB79FC7-B295-4734-9A16-9DDA10C135AB</key>
		<dict>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>900E599D-F299-4961-9BE7-94243DD8EC7D</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>944B4117-7F56-4B6B-A6AB-22E70B2C616E</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>ADCD7CE1-9E89-42C1-97E1-CDC8DBBAB2DF</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>B77AB638-48EE-44B5-B639-DB1E992B3BAB</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>BAB04A88-09FF-4871-8A4E-4B80E83319B9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BCCB236D-4F08-4C07-B275-9208342971AB</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>D436B71D-F78A-44B0-B2BD-517FC6E02D2F</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>E21C6BB2-3925-4F3D-A8FD-AA373B50C865</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EE1447E8-5DAA-4B21-AAEB-71243564494D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F6D7CBE3-E883-429B-98E4-21CF84C89121</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>FA0B92F3-7F12-4B02-A89D-B1D727FD3E59</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>FD4410FC-4FD8-4EB2-9FE5-B621AE6E5621</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>rajeshksv.blogspot.com</string>
</dict>
</plist>
